.fast .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.1s;
}

.contain-table {
    padding: 20px 0;
}

.container {
    border: 1px solid #f3f3f3;
    padding: 20px;
    border-radius: 8px;
}

.container-lg {
    border: 1px solid #f3f3f3;
    padding: 20px;
    border-radius: 8px;
}

div.dts div.dataTables_scrollBody {
    background: white;
    /* or whatever */
}

.row {
    padding: 0 0 0.8rem 0;
}

.row.justify-content-center {
    background: #fbfbfd;
    margin: 8px 0;
    border-radius: 5px;
    padding: 10px;
}

.modal-body .row.justify-content-center {
    background: none;
}

.col.justify-content-center {
    background: #fbfbfd;
    margin: 8px 0;
    border-radius: 5px;
    padding: 10px;
}

.col-buttons {
    align-items: center;
}

.auto-12 {
    font-size: 13.3px;
}

.box {
    color: #ff4747;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.modal-header {
    text-align: center;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.boxcrit {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.btn-danger-2 {
    color: #fff !important;
    border: 0.1px !important;
    background: linear-gradient(354deg, #dc3545, #ff7300);
    background-size: 400% 400%;
    animation: alert-1 2s ease infinite;
}

@keyframes alert-1 {
    0% {
        background-position: 47% 0%
    }
    50% {
        background-position: 54% 100%
    }
    100% {
        background-position: 47% 0%
    }
}

@media screen and (max-width: 1280px) {
    body {
        zoom: 68%;
        /* or simply zoom: 50% */
    }
}